<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agu.agumobile"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- İnternet erişimi için izin -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Zamanlanmış ve kesin alarm için izinler -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <!-- Android 13 (SDK 33) ve üzeri için bildirim izni -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>



    

    <application
        android:requestLegacyExternalStorage="true"
        android:label="AGU Mobile"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        tools:targetApi="28">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
                
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Flutter için gerekli meta-data -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Bildirimlerin cihaz beklemede çalışabilmesi için meta-data -->
        <meta-data
            android:name="android.permission.USE_EXACT_ALARM"
            android:value="true" />

        <!-- Bildirim alıcıları -->
        <receiver android:exported="false" android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver" />
        <receiver android:exported="false" android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <!-- Bildirim eylemleri için alıcı -->
        <receiver android:exported="false" android:name="com.dexterous.flutterlocalnotifications.ActionBroadcastReceiver" />

        <!-- Ön plan hizmetleri için servis -->
        <service
            android:name="com.dexterous.flutterlocalnotifications.ForegroundService"
            android:permission="android.permission.FOREGROUND_SERVICE"
            android:exported="false"
            android:stopWithTask="false"
            android:foregroundServiceType="mediaPlayback">
        </service>

        <provider
            android:name="vn.hunghd.flutterdownloader.DownloadedFileProvider"
            android:authorities="${applicationId}.flutter_downloader.provider"
            android:exported="false"
            android:grantUriPermissions="true">
        </provider>

    </application>

    <!-- Intent sorguları (Flutter tarafından kullanılır) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>
